{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://elasticloadbalancing.amazonaws.com/"
        },
        {
            "url": "http://elasticloadbalancing.amazonaws.com/"
        }
    ],
    "x-hasEquivalentPaths": true,
    "info": {
        "contact": {
            "email": "mike.ralphson@gmail.com",
            "name": "Mike Ralphson",
            "url": "https://github.com/mermade/aws2openapi",
            "x-twitter": "PermittedSoc"
        },
        "description": "<fullname>Elastic Load Balancing</fullname> <p>A load balancer distributes incoming traffic across targets, such as your EC2 instances. This enables you to increase the availability of your application. The load balancer also monitors the health of its registered targets and ensures that it routes traffic only to healthy targets. You configure your load balancer to accept incoming traffic by specifying one or more listeners, which are configured with a protocol and port number for connections from clients to the load balancer. You configure a target group with a protocol and port number for connections from the load balancer to the targets, and with health check settings to be used when checking the health status of the targets.</p> <p>Elastic Load Balancing supports the following types of load balancers: Application Load Balancers, Network Load Balancers, and Classic Load Balancers.</p> <p>An Application Load Balancer makes routing and load balancing decisions at the application layer (HTTP/HTTPS). A Network Load Balancer makes routing and load balancing decisions at the transport layer (TCP/TLS). Both Application Load Balancers and Network Load Balancers can route requests to one or more ports on each EC2 instance or container instance in your virtual private cloud (VPC).</p> <p>A Classic Load Balancer makes routing and load balancing decisions either at the transport layer (TCP/SSL) or the application layer (HTTP/HTTPS), and supports either EC2-Classic or a VPC. For more information, see the <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/userguide/\">Elastic Load Balancing User Guide</a>.</p> <p>This reference covers the 2015-12-01 API, which supports Application Load Balancers and Network Load Balancers. The 2012-06-01 API supports Classic Load Balancers.</p> <p>To get started, complete the following tasks:</p> <ol> <li> <p>Create a load balancer using <a>CreateLoadBalancer</a>.</p> </li> <li> <p>Create a target group using <a>CreateTargetGroup</a>.</p> </li> <li> <p>Register targets for the target group using <a>RegisterTargets</a>.</p> </li> <li> <p>Create one or more listeners for your load balancer using <a>CreateListener</a>.</p> </li> </ol> <p>To delete a load balancer and its related resources, complete the following tasks:</p> <ol> <li> <p>Delete the load balancer using <a>DeleteLoadBalancer</a>.</p> </li> <li> <p>Delete the target group using <a>DeleteTargetGroup</a>.</p> </li> </ol> <p>All Elastic Load Balancing operations are idempotent, which means that they complete at most one time. If you repeat an operation, it succeeds.</p>",
        "license": {
            "name": "Apache 2.0 License",
            "url": "http://www.apache.org/licenses/"
        },
        "termsOfService": "https://aws.amazon.com/service-terms/",
        "title": "Elastic Load Balancing",
        "version": "2015-12-01",
        "x-apiClientRegistration": {
            "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
        },
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "backgroundColor": "#FFFFFF",
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg"
        },
        "x-origin": [
            {
                "contentType": "application/json",
                "converter": {
                    "url": "https://github.com/mermade/aws2openapi",
                    "version": "1.0.0"
                },
                "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/elasticloadbalancingv2-2015-12-01.normal.json",
                "x-apisguru-direct": true
            }
        ],
        "x-preferred": true,
        "x-providerName": "amazonaws.com",
        "x-release": "v4",
        "x-serviceName": "elasticloadbalancingv2"
    },
    "externalDocs": {
        "description": "Amazon Web Services documentation",
        "url": "https://aws.amazon.com/elasticloadbalancing/"
    },
    "security": [
        {
            "hmac": []
        }
    ],
    "paths": {
        "/": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Adds the specified certificate to the specified HTTPS listener.</p> <p>If the certificate was already added, the call is successful but the certificate is not added again.</p> <p>To list the certificates for your listener, use <a>DescribeListenerCertificates</a>. To remove certificates from your listener, use <a>RemoveListenerCertificates</a>. To specify the default SSL server certificate, use <a>ModifyListener</a>.</p>",
                "operationId": "AddListenerCertificates",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "properties": {
                                        "Certificates": {
                                            "description": "Information about the certificates.",
                                            "items": {
                                                "description": "Information about an SSL server certificate.",
                                                "properties": {
                                                    "CertificateArn": {
                                                        "description": "The Amazon Resource Name (ARN) of the certificate.",
                                                        "type": "string"
                                                    },
                                                    "IsDefault": {
                                                        "description": "Indicates whether the certificate is the default certificate. Do not set <code>IsDefault</code> when specifying a certificate as an input parameter.",
                                                        "type": "boolean"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ListenerNotFoundException",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "TooManyCertificatesException",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "CertificateNotFoundException",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "Certificates": {
                                        "description": "The certificate to add. You can specify one certificate per call. Set <code>CertificateArn</code> to the certificate ARN but do not set <code>IsDefault</code>.",
                                        "items": {
                                            "description": "Information about an SSL server certificate.",
                                            "properties": {
                                                "CertificateArn": {
                                                    "description": "The Amazon Resource Name (ARN) of the certificate.",
                                                    "type": "string"
                                                },
                                                "IsDefault": {
                                                    "description": "Indicates whether the certificate is the default certificate. Do not set <code>IsDefault</code> when specifying a certificate as an input parameter.",
                                                    "type": "boolean"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "type": "array"
                                    },
                                    "ListenerArn": {
                                        "description": "The Amazon Resource Name (ARN) of the listener.",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "ListenerArn",
                                    "Certificates"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#AddTags": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Adds the specified tags to the specified Elastic Load Balancing resource. You can tag your Application Load Balancers, Network Load Balancers, and your target groups.</p> <p>Each tag consists of a key and an optional value. If a resource already has a tag with the same key, <code>AddTags</code> updates its value.</p> <p>To list the current tags for your resources, use <a>DescribeTags</a>. To remove tags from your resources, use <a>RemoveTags</a>.</p>",
                "operationId": "AddTags",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "DuplicateTagKeysException",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "TooManyTagsException",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "LoadBalancerNotFoundException",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "TargetGroupNotFoundException",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "example": {
                                    "ResourceArns": [
                                        "arn:aws:elasticloadbalancing:us-west-2:123456789012:loadbalancer/app/my-load-balancer/50dc6c495c0c9188"
                                    ],
                                    "Tags": [
                                        {
                                            "Key": "project",
                                            "Value": "lima"
                                        },
                                        {
                                            "Key": "department",
                                            "Value": "digital-media"
                                        }
                                    ]
                                },
                                "properties": {
                                    "ResourceArns": {
                                        "description": "The Amazon Resource Name (ARN) of the resource.",
                                        "items": {
                                            "type": "string"
                                        },
                                        "type": "array"
                                    },
                                    "Tags": {
                                        "description": "The tags. Each resource can have a maximum of 10 tags.",
                                        "items": {
                                            "description": "Information about a tag.",
                                            "properties": {
                                                "Key": {
                                                    "description": "The key of the tag.",
                                                    "maxLength": 128,
                                                    "minLength": 1,
                                                    "pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$",
                                                    "type": "string"
                                                },
                                                "Value": {
                                                    "description": "The value of the tag.",
                                                    "maxLength": 256,
                                                    "minLength": 0,
                                                    "pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$",
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "Key"
                                            ],
                                            "type": "object"
                                        },
                                        "minItems": 1,
                                        "type": "array"
                                    }
                                },
                                "required": [
                                    "ResourceArns",
                                    "Tags"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#CreateListener": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Creates a listener for the specified Application Load Balancer or Network Load Balancer.</p> <p>To update a listener, use <a>ModifyListener</a>. When you are finished with a listener, you can delete it using <a>DeleteListener</a>. If you are finished with both the listener and the load balancer, you can delete them both using <a>DeleteLoadBalancer</a>.</p> <p>This operation is idempotent, which means that it completes at most one time. If you attempt to create multiple listeners with the same settings, each call succeeds.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/application/load-balancer-listeners.html\">Listeners for Your Application Load Balancers</a> in the <i>Application Load Balancers Guide</i> and <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/network/load-balancer-listeners.html\">Listeners for Your Network Load Balancers</a> in the <i>Network Load Balancers Guide</i>.</p>",
                "operationId": "CreateListener",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "example": {
                                        "Listeners": [
                                            {
                                                "Certificates": [
                                                    {
                                                        "CertificateArn": "arn:aws:iam::123456789012:server-certificate/my-server-cert"
                                                    }
                                                ],
                                                "DefaultActions": [
                                                    {
                                                        "TargetGroupArn": "arn:aws:elasticloadbalancing:us-west-2:123456789012:targetgroup/my-targets/73e2d6bc24d8a067",
                                                        "Type": "forward"
                                                    }
                                                ],
                                                "ListenerArn": "arn:aws:elasticloadbalancing:us-west-2:123456789012:listener/app/my-load-balancer/50dc6c495c0c9188/f2f7dc8efc522ab2",
                                                "LoadBalancerArn": "arn:aws:elasticloadbalancing:us-west-2:123456789012:loadbalancer/app/my-load-balancer/50dc6c495c0c9188",
                                                "Port": 443,
                                                "Protocol": "HTTPS",
                                                "SslPolicy": "ELBSecurityPolicy-2015-05"
                                            }
                                        ]
                                    },
                                    "properties": {
                                        "Listeners": {
                                            "description": "Information about the listener.",
                                            "items": {
                                                "description": "Information about a listener.",
                                                "properties": {
                                                    "Certificates": {
                                                        "description": "The SSL server certificate. You must provide a certificate if the protocol is HTTPS or TLS.",
                                                        "items": {
                                                            "description": "Information about an SSL server certificate.",
                                                            "properties": {
                                                                "CertificateArn": {
                                                                    "description": "The Amazon Resource Name (ARN) of the certificate.",
                                                                    "type": "string"
                                                                },
                                                                "IsDefault": {
                                                                    "description": "Indicates whether the certificate is the default certificate. Do not set <code>IsDefault</code> when specifying a certificate as an input parameter.",
                                                                    "type": "boolean"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "DefaultActions": {
                                                        "description": "The default actions for the listener.",
                                                        "items": {
                                                            "description": "Information about an action.",
                                                            "properties": {
                                                                "AuthenticateCognitoConfig": {
                                                                    "description": "[HTTPS listeners] Information for using Amazon Cognito to authenticate users. Specify only when <code>Type</code> is <code>authenticate-cognito</code>.",
                                                                    "properties": {
                                                                        "AuthenticationRequestExtraParams": {
                                                                            "description": "The query parameters (up to 10) to include in the redirect request to the authorization endpoint.",
                                                                            "items": {
                                                                                "properties": {
                                                                                    "key": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "value": {
                                                                                        "type": "string"
                                                                                    }
                                                                                },
                                                                                "type": "object"
                                                                            },
                                                                            "type": "array"
                                                                        },
                                                                        "OnUnauthenticatedRequest": {
                                                                            "description": "<p>The behavior if the user is not authenticated. The following are possible values:</p> <ul> <li> <p>deny<code/> - Return an HTTP 401 Unauthorized error.</p> </li> <li> <p>allow<code/> - Allow the request to be forwarded to the target.</p> </li> <li> <p>authenticate<code/> - Redirect the request to the IdP authorization endpoint. This is the default value.</p> </li> </ul>",
                                                                            "enum": [
                                                                                "deny",
                                                                                "allow",
                                                                                "authenticate"
                                                                            ],
                                                                            "type": "string"
                                                                        },
                                                                        "Scope": {
                                                                            "description": "<p>The set of user claims to be requested from the IdP. The default is <code>openid</code>.</p> <p>To verify which scope values your IdP supports and how to separate multiple values, see the documentation for your IdP.</p>",
                                                                            "type": "string"
                                                                        },
                                                                        "SessionCookieName": {
                                                                            "description": "The name of the cookie used to maintain session information. The default is AWSELBAuthSessionCookie.",
                                                                            "type": "string"
                                                                        },
                                                                        "SessionTimeout": {
                                                                            "description": "The maximum duration of the authentication session, in seconds. The default is 604800 seconds (7 days).",
                                                                            "type": "integer"
                                                                        },
                                                                        "UserPoolArn": {
                                                                            "description": "The Amazon Resource Name (ARN) of the Amazon Cognito user pool.",
                                                                            "type": "string"
                                                                        },
                                                                        "UserPoolClientId": {
                                                                            "description": "The ID of the Amazon Cognito user pool client.",
                                                                            "type": "string"
                                                                        },
                                                                        "UserPoolDomain": {
                                                                            "description": "The domain prefix or fully-qualified domain name of the Amazon Cognito user pool.",
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "UserPoolArn",
                                                                        "UserPoolClientId",
                                                                        "UserPoolDomain"
                                                                    ],
                                                                    "type": "object"
                                                                },
                                                                "AuthenticateOidcConfig": {
                                                                    "description": "[HTTPS listeners] Information about an identity provider that is compliant with OpenID Connect (OIDC). Specify only when <code>Type</code> is <code>authenticate-oidc</code>.",
                                                                    "properties": {
                                                                        "AuthenticationRequestExtraParams": {
                                                                            "description": "The query parameters (up to 10) to include in the redirect request to the authorization endpoint.",
                                                                            "items": {
                                                                                "properties": {
                                                                                    "key": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "value": {
                                                                                        "type": "string"
                                                                                    }
                                                                                },
                                                                                "type": "object"
                                                                            },
                                                                            "type": "array"
                                                                        },
                                                                        "AuthorizationEndpoint": {
                                                                            "description": "The authorization endpoint of the IdP. This must be a full URL, including the HTTPS protocol, the domain, and the path.",
                                                                            "type": "string"
                                                                        },
                                                                        "ClientId": {
                                                                            "description": "The OAuth 2.0 client identifier.",
                                                                            "type": "string"
                                                                        },
                                                                        "ClientSecret": {
                                                                            "description": "The OAuth 2.0 client secret. This parameter is required if you are creating a rule. If you are modifying a rule, you can omit this parameter if you set <code>UseExistingClientSecret</code> to true.",
                                                                            "type": "string"
                                                                        },
                                                                        "Issuer": {
                                                                            "description": "The OIDC issuer identifier of the IdP. This must be a full URL, including the HTTPS protocol, the domain, and the path.",
                                                                            "type": "string"
                                                                        },
                                                                        "OnUnauthenticatedRequest": {
                                                                            "description": "<p>The behavior if the user is not authenticated. The following are possible values:</p> <ul> <li> <p>deny<code/> - Return an HTTP 401 Unauthorized error.</p> </li> <li> <p>allow<code/> - Allow the request to be forwarded to the target.</p> </li> <li> <p>authenticate<code/> - Redirect the request to the IdP authorization endpoint. This is the default value.</p> </li> </ul>",
                                                                            "enum": [
                                                                                "deny",
                                                                                "allow",
                                                                                "authenticate"
                                                                            ],
                                                                            "type": "string"
                                                                        },
                                                                        "Scope": {
                                                                            "description": "<p>The set of user claims to be requested from the IdP. The default is <code>openid</code>.</p> <p>To verify which scope values your IdP supports and how to separate multiple values, see the documentation for your IdP.</p>",
                                                                            "type": "string"
                                                                        },
                                                                        "SessionCookieName": {
                                                                            "description": "The name of the cookie used to maintain session information. The default is AWSELBAuthSessionCookie.",
                                                                            "type": "string"
                                                                        },
                                                                        "SessionTimeout": {
                                                                            "description": "The maximum duration of the authentication session, in seconds. The default is 604800 seconds (7 days).",
                                                                            "type": "integer"
                                                                        },
                                                                        "TokenEndpoint": {
                                                                            "description": "The token endpoint of the IdP. This must be a full URL, including the HTTPS protocol, the domain, and the path.",
                                                                            "type": "string"
                                                                        },
                                                                        "UseExistingClientSecret": {
                                                                            "description": "Indicates whether to use the existing client secret when modifying a rule. If you are creating a rule, you can omit this parameter or set it to false.",
                                                                            "type": "boolean"
                                                                        },
                                                                        "UserInfoEndpoint": {
                                                                            "description": "The user info endpoint of the IdP. This must be a full URL, including the HTTPS protocol, the domain, and the path.",
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "Issuer",
                                                                        "AuthorizationEndpoint",
                                                                        "TokenEndpoint",
                                                                        "UserInfoEndpoint",
                                                                        "ClientId"
                                                                    ],
                                                                    "type": "object"
                                                                },
                                                                "FixedResponseConfig": {
                                                                    "description": "[Application Load Balancer] Information for creating an action that returns a custom HTTP response. Specify only when <code>Type</code> is <code>fixed-response</code>.",
                                                                    "properties": {
                                                                        "ContentType": {
                                                                            "description": "<p>The content type.</p> <p>Valid Values: text/plain | text/css | text/html | application/javascript | application/json</p>",
                                                                            "maxLength": 32,
                                                                            "minLength": 0,
                                                                            "type": "string"
                                                                        },
                                                                        "MessageBody": {
                                                                            "description": "The message.",
                                                                            "maxLength": 1024,
                                                                            "minLength": 0,
                                                                            "type": "string"
                                                                        },
                                                                        "StatusCode": {
                                                                            "description": "The HTTP response code (2XX, 4XX, or 5XX).",
                                                                            "pattern": "^(2|4|5)\\d\\d$",
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "StatusCode"
                                                                    ],
                                                                    "type": "object"
                                                                },
                                                                "Order": {
                                                                    "description": "The order for the action. This value is required for rules with multiple actions. The action with the lowest value for order is performed first. The final action to be performed must be a <code>forward</code> or a <code>fixed-response</code> action.",
                                                                    "maximum": 50000,
                                                                    "minimum": 1,
                                                                    "type": "integer"
                                                                },
                                                                "RedirectConfig": {
                                                                    "description": "[Application Load Balancer] Information for creating a redirect action. Specify only when <code>Type</code> is <code>redirect</code>.",
                                                                    "properties": {
                                                                        "Host": {
                                                                            "description": "The hostname. This component is not percent-encoded. The hostname can contain #{host}.",
                                                                            "maxLength": 128,
                                                                            "minLength": 1,
                                                                            "type": "string"
                                                                        },
                                                                        "Path": {
                                                                            "description": "The absolute path, starting with the leading \"/\". This component is not percent-encoded. The path can contain #{host}, #{path}, and #{port}.",
                                                                            "maxLength": 128,
                                                                            "minLength": 1,
                                                                            "type": "string"
                                                                        },
                                                                        "Port": {
                                                                            "description": "The port. You can specify a value from 1 to 65535 or #{port}.",
                                                                            "type": "string"
                                                                        },
                                                                        "Protocol": {
                                                                            "description": "The protocol. You can specify HTTP, HTTPS, or #{protocol}. You can redirect HTTP to HTTP, HTTP to HTTPS, and HTTPS to HTTPS. You cannot redirect HTTPS to HTTP.",
                                                                            "pattern": "^(HTTPS?|#\\{protocol\\})$",
                                                                            "type": "string"
                                                                        },
                                                                        "Query": {
                                                                            "description": "The query parameters, URL-encoded when necessary, but not percent-encoded. Do not include the leading \"?\", as it is automatically added. You can specify any of the reserved keywords.",
                                                                            "maxLength": 128,
                                                                            "minLength": 0,
                                                                            "type": "string"
                                                                        },
                                                                        "StatusCode": {
                                                                            "description": "The HTTP redirect code. The redirect is either permanent (HTTP 301) or temporary (HTTP 302).",
                                                                            "enum": [
                                                                                "HTTP_301",
                                                                                "HTTP_302"
                                                                            ],
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "StatusCode"
                                                                    ],
                                                                    "type": "object"
                                                                },
                                                                "TargetGroupArn": {
                                                                    "description": "The Amazon Resource Name (ARN) of the target group. Specify only when <code>Type</code> is <code>forward</code>.",
                                                                    "type": "string"
                                                                },
                                                                "Type": {
                                                                    "description": "The type of action. Each rule must include exactly one of the following types of actions: <code>forward</code>, <code>fixed-response</code>, or <code>redirect</code>.",
                                                                    "enum": [
                                                                        "forward",
                                                                        "authenticate-oidc",
                                                                        "authenticate-cognito",
                                                                        "redirect",
                                                                        "fixed-response"
                                                                    ],
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "required": [
                                                                "Type"
                                                            ],
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "ListenerArn": {
                                                        "description": "The Amazon Resource Name (ARN) of the listener.",
                                                        "type": "string"
                                                    },
                                                    "LoadBalancerArn": {
                                                        "description": "The Amazon Resource Name (ARN) of the load balancer.",
                                                        "type": "string"
                                                    },
                                                    "Port": {
                                                        "description": "The port on which the load balancer is listening.",
                                                        "maximum": 65535,
                                                        "minimum": 1,
                                                        "type": "integer"
                                                    },
                                                    "Protocol": {
                                                        "description": "The protocol for connections from clients to the load balancer.",
                                                        "enum": [
                                                            "HTTP",
                                                            "HTTPS",
                                                            "TCP",
                                                            "TLS"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "SslPolicy": {
                                                        "description": "The security policy that defines which ciphers and protocols are supported. The default is the current predefined security policy.",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "DuplicateListenerException",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "TooManyListenersException",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "TooManyCertificatesException",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "LoadBalancerNotFoundException",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "TargetGroupNotFoundException",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "TargetGroupAssociationLimitException",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "486": {
                        "description": "InvalidConfigurationRequestException",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "487": {
                        "description": "IncompatibleProtocolsException",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "488": {
                        "description": "SSLPolicyNotFoundException",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "489": {
                        "description": "CertificateNotFoundException",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "490": {
                        "description": "UnsupportedProtocolException",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "491": {
                        "description": "TooManyRegistrationsForTargetIdException",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "492": {
                        "description": "TooManyTargetsException",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "493": {
                        "description": "TooManyActionsException",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "494": {
                        "description": "InvalidLoadBalancerActionException",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "example": {
                                    "Certificates": [
                                        {
                                            "CertificateArn": "arn:aws:iam::123456789012:server-certificate/my-server-cert"
                                        }
                                    ],
                                    "DefaultActions": [
                                        {
                                            "TargetGroupArn": "arn:aws:elasticloadbalancing:us-west-2:123456789012:targetgroup/my-targets/73e2d6bc24d8a067",
                                            "Type": "forward"
                                        }
                                    ],
                                    "LoadBalancerArn": "arn:aws:elasticloadbalancing:us-west-2:123456789012:loadbalancer/app/my-load-balancer/50dc6c495c0c9188",
                                    "Port": 443,
                                    "Protocol": "HTTPS",
                                    "SslPolicy": "ELBSecurityPolicy-2015-05"
                                },
                                "properties": {
                                    "Certificates": {
                                        "description": "<p>[HTTPS and TLS listeners] The default SSL server certificate. You must provide exactly one certificate. Set <code>CertificateArn</code> to the certificate ARN but do not set <code>IsDefault</code>.</p> <p>To create a certificate list, use <a>AddListenerCertificates</a>.</p>",
                                        "items": {
                                            "description": "Information about an SSL server certificate.",
                                            "properties": {
                                                "CertificateArn": {
                                                    "description": "The Amazon Resource Name (ARN) of the certificate.",
                                                    "type": "string"
                                                },
                                                "IsDefault": {
                                                    "description": "Indicates whether the certificate is the default certificate. Do not set <code>IsDefault</code> when specifying a certificate as an input parameter.",
                                                    "type": "boolean"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "type": "array"
                                    },
                                    "DefaultActions": {
                                        "description": "<p>The actions for the default rule. The rule must include one forward action or one or more fixed-response actions.</p> <p>If the action type is <code>forward</code>, you specify a target group. The protocol of the target group must be HTTP or HTTPS for an Application Load Balancer. The protocol of the target group must be TCP or TLS for a Network Load Balancer.</p> <p>[HTTPS listeners] If the action type is <code>authenticate-oidc</code>, you authenticate users through an identity provider that is OpenID Connect (OIDC) compliant.</p> <p>[HTTPS listeners] If the action type is <code>authenticate-cognito</code>, you authenticate users through the user pools supported by Amazon Cognito.</p> <p>[Application Load Balancer] If the action type is <code>redirect</code>, you redirect specified client requests from one URL to another.</p> <p>[Application Load Balancer] If the action type is <code>fixed-response</code>, you drop specified client requests and return a custom HTTP response.</p>",
                                        "items": {
                                            "description": "Information about an action.",
                                            "properties": {
                                                "AuthenticateCognitoConfig": {
                                                    "description": "[HTTPS listeners] Information for using Amazon Cognito to authenticate users. Specify only when <code>Type</code> is <code>authenticate-cognito</code>.",
                                                    "properties": {
                                                        "AuthenticationRequestExtraParams": {
                                                            "description": "The query parameters (up to 10) to include in the redirect request to the authorization endpoint.",
                                                            "items": {
                                                                "properties": {
                                                                    "key": {
                                                                        "type": "string"
                                                                    },
                                                                    "value": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "OnUnauthenticatedRequest": {
                                                            "description": "<p>The behavior if the user is not authenticated. The following are possible values:</p> <ul> <li> <p>deny<code/> - Return an HTTP 401 Unauthorized error.</p> </li> <li> <p>allow<code/> - Allow the request to be forwarded to the target.</p> </li> <li> <p>authenticate<code/> - Redirect the request to the IdP authorization endpoint. This is the default value.</p> </li> </ul>",
                                                            "enum": [
                                                                "deny",
                                                                "allow",
                                                                "authenticate"
                                                            ],
                                                            "type": "string"
                                                        },
                                                        "Scope": {
                                                            "description": "<p>The set of user claims to be requested from the IdP. The default is <code>openid</code>.</p> <p>To verify which scope values your IdP supports and how to separate multiple values, see the documentation for your IdP.</p>",
                                                            "type": "string"
                                                        },
                                                        "SessionCookieName": {
                                                            "description": "The name of the cookie used to maintain session information. The default is AWSELBAuthSessionCookie.",
                                                            "type": "string"
                                                        },
                                                        "SessionTimeout": {
                                                            "description": "The maximum duration of the authentication session, in seconds. The default is 604800 seconds (7 days).",
                                                            "type": "integer"
                                                        },
                                                        "UserPoolArn": {
                                                            "description": "The Amazon Resource Name (ARN) of the Amazon Cognito user pool.",
                                                            "type": "string"
                                                        },
                                                        "UserPoolClientId": {
                                                            "description": "The ID of the Amazon Cognito user pool client.",
                                                            "type": "string"
                                                        },
                                                        "UserPoolDomain": {
                                                            "description": "The domain prefix or fully-qualified domain name of the Amazon Cognito user pool.",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "UserPoolArn",
                                                        "UserPoolClientId",
                                                        "UserPoolDomain"
                                                    ],
                                                    "type": "object"
                                                },
                                                "AuthenticateOidcConfig": {
                                                    "description": "[HTTPS listeners] Information about an identity provider that is compliant with OpenID Connect (OIDC). Specify only when <code>Type</code> is <code>authenticate-oidc</code>.",
                                                    "properties": {
                                                        "AuthenticationRequestExtraParams": {
                                                            "description": "The query parameters (up to 10) to include in the redirect request to the authorization endpoint.",
                                                            "items": {
                                                                "properties": {
                                                                    "key": {
                                                                        "type": "string"
                                                                    },
                                                                    "value": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "AuthorizationEndpoint": {
                                                            "description": "The authorization endpoint of the IdP. This must be a full URL, including the HTTPS protocol, the domain, and the path.",
                                                            "type": "string"
                                                        },
                                                        "ClientId": {
                                                            "description": "The OAuth 2.0 client identifier.",
                                                            "type": "string"
                                                        },
                                                        "ClientSecret": {
                                                            "description": "The OAuth 2.0 client secret. This parameter is required if you are creating a rule. If you are modifying a rule, you can omit this parameter if you set <code>UseExistingClientSecret</code> to true.",
                                                            "type": "string"
                                                        },
                                                        "Issuer": {
                                                            "description": "The OIDC issuer identifier of the IdP. This must be a full URL, including the HTTPS protocol, the domain, and the path.",
                                                            "type": "string"
                                                        },
                                                        "OnUnauthenticatedRequest": {
                                                            "description": "<p>The behavior if the user is not authenticated. The following are possible values:</p> <ul> <li> <p>deny<code/> - Return an HTTP 401 Unauthorized error.</p> </li> <li> <p>allow<code/> - Allow the request to be forwarded to the target.</p> </li> <li> <p>authenticate<code/> - Redirect the request to the IdP authorization endpoint. This is the default value.</p> </li> </ul>",
                                                            "enum": [
                                                                "deny",
                                                                "allow",
                                                                "authenticate"
                                                            ],
                                                            "type": "string"
                                                        },
                                                        "Scope": {
                                                            "description": "<p>The set of user claims to be requested from the IdP. The default is <code>openid</code>.</p> <p>To verify which scope values your IdP supports and how to separate multiple values, see the documentation for your IdP.</p>",
                                                            "type": "string"
                                                        },
                                                        "SessionCookieName": {
                                                            "description": "The name of the cookie used to maintain session information. The default is AWSELBAuthSessionCookie.",
                                                            "type": "string"
                                                        },
                                                        "SessionTimeout": {
                                                            "description": "The maximum duration of the authentication session, in seconds. The default is 604800 seconds (7 days).",
                                                            "type": "integer"
                                                        },
                                                        "TokenEndpoint": {
                                                            "description": "The token endpoint of the IdP. This must be a full URL, including the HTTPS protocol, the domain, and the path.",
                                                            "type": "string"
                                                        },
                                                        "UseExistingClientSecret": {
                                                            "description": "Indicates whether to use the existing client secret when modifying a rule. If you are creating a rule, you can omit this parameter or set it to false.",
                                                            "type": "boolean"
                                                        },
                                                        "UserInfoEndpoint": {
                                                            "description": "The user info endpoint of the IdP. This must be a full URL, including the HTTPS protocol, the domain, and the path.",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "Issuer",
                                                        "AuthorizationEndpoint",
                                                        "TokenEndpoint",
                                                        "UserInfoEndpoint",
                                                        "ClientId"
                                                    ],
                                                    "type": "object"
                                                },
                                                "FixedResponseConfig": {
                                                    "description": "[Application Load Balancer] Information for creating an action that returns a custom HTTP response. Specify only when <code>Type</code> is <code>fixed-response</code>.",
                                                    "properties": {
                                                        "ContentType": {
                                                            "description": "<p>The content type.</p> <p>Valid Values: text/plain | text/css | text/html | application/javascript | application/json</p>",
                                                            "maxLength": 32,
                                                            "minLength": 0,
                                                            "type": "string"
                                                        },
                                                        "MessageBody": {
                                                            "description": "The message.",
                                                            "maxLength": 1024,
                                                            "minLength": 0,
                                                            "type": "string"
                                                        },
                                                        "StatusCode": {
                                                            "description": "The HTTP response code (2XX, 4XX, or 5XX).",
                                                            "pattern": "^(2|4|5)\\d\\d$",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "StatusCode"
                                                    ],
                                                    "type": "object"
                                                },
                                                "Order": {
                                                    "description": "The order for the action. This value is required for rules with multiple actions. The action with the lowest value for order is performed first. The final action to be performed must be a <code>forward</code> or a <code>fixed-response</code> action.",
                                                    "maximum": 50000,
                                                    "minimum": 1,
                                                    "type": "integer"
                                                },
                                                "RedirectConfig": {
                                                    "description": "[Application Load Balancer] Information for creating a redirect action. Specify only when <code>Type</code> is <code>redirect</code>.",
                                                    "properties": {
                                                        "Host": {
                                                            "description": "The hostname. This component is not percent-encoded. The hostname can contain #{host}.",
                                                            "maxLength": 128,
                                                            "minLength": 1,
                                                            "type": "string"
                                                        },
                                                        "Path": {
                                                            "description": "The absolute path, starting with the leading \"/\". This component is not percent-encoded. The path can contain #{host}, #{path}, and #{port}.",
                                                            "maxLength": 128,
                                                            "minLength": 1,
                                                            "type": "string"
                                                        },
                                                        "Port": {
                                                            "description": "The port. You can specify a value from 1 to 65535 or #{port}.",
                                                            "type": "string"
                                                        },
                                                        "Protocol": {
                                                            "description": "The protocol. You can specify HTTP, HTTPS, or #{protocol}. You can redirect HTTP to HTTP, HTTP to HTTPS, and HTTPS to HTTPS. You cannot redirect HTTPS to HTTP.",
                                                            "pattern": "^(HTTPS?|#\\{protocol\\})$",
                                                            "type": "string"
                                                        },
                                                        "Query": {
                                                            "description": "The query parameters, URL-encoded when necessary, but not percent-encoded. Do not include the leading \"?\", as it is automatically added. You can specify any of the reserved keywords.",
                                                            "maxLength": 128,
                                                            "minLength": 0,
                                                            "type": "string"
                                                        },
                                                        "StatusCode": {
                                                            "description": "The HTTP redirect code. The redirect is either permanent (HTTP 301) or temporary (HTTP 302).",
                                                            "enum": [
                                                                "HTTP_301",
                                                                "HTTP_302"
                                                            ],
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "StatusCode"
                                                    ],
                                                    "type": "object"
                                                },
                                                "TargetGroupArn": {
                                                    "description": "The Amazon Resource Name (ARN) of the target group. Specify only when <code>Type</code> is <code>forward</code>.",
                                                    "type": "string"
                                                },
                                                "Type": {
                                                    "description": "The type of action. Each rule must include exactly one of the following types of actions: <code>forward</code>, <code>fixed-response</code>, or <code>redirect</code>.",
                                                    "enum": [
                                                        "forward",
                                                        "authenticate-oidc",
                                                        "authenticate-cognito",
                                                        "redirect",
                                                        "fixed-response"
                                                    ],
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "Type"
                                            ],
                                            "type": "object"
                                        },
                                        "type": "array"
                                    },
                                    "LoadBalancerArn": {
                                        "description": "The Amazon Resource Name (ARN) of the load balancer.",
                                        "type": "string"
                                    },
                                    "Port": {
                                        "description": "The port on which the load balancer is listening.",
                                        "maximum": 65535,
                                        "minimum": 1,
                                        "type": "integer"
                                    },
                                    "Protocol": {
                                        "description": "The protocol for connections from clients to the load balancer. For Application Load Balancers, the supported protocols are HTTP and HTTPS. For Network Load Balancers, the supported protocols are TCP and TLS.",
                                        "enum": [
                                            "HTTP",
                                            "HTTPS",
                                            "TCP",
                                            "TLS"
                                        ],
                                        "type": "string"
                                    },
                                    "SslPolicy": {
                                        "description": "[HTTPS and TLS listeners] The security policy that defines which ciphers and protocols are supported. The default is the current predefined security policy.",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "LoadBalancerArn",
                                    "Protocol",
                                    "Port",
                                    "DefaultActions"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#CreateLoadBalancer": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Creates an Application Load Balancer or a Network Load Balancer.</p> <p>When you create a load balancer, you can specify security groups, public subnets, IP address type, and tags. Otherwise, you could do so later using <a>SetSecurityGroups</a>, <a>SetSubnets</a>, <a>SetIpAddressType</a>, and <a>AddTags</a>.</p> <p>To create listeners for your load balancer, use <a>CreateListener</a>. To describe your current load balancers, see <a>DescribeLoadBalancers</a>. When you are finished with a load balancer, you can delete it using <a>DeleteLoadBalancer</a>.</p> <p>For limit information, see <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/application/load-balancer-limits.html\">Limits for Your Application Load Balancer</a> in the <i>Application Load Balancers Guide</i> and <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/network/load-balancer-limits.html\">Limits for Your Network Load Balancer</a> in the <i>Network Load Balancers Guide</i>.</p> <p>This operation is idempotent, which means that it completes at most one time. If you attempt to create multiple load balancers with the same settings, each call succeeds.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/application/application-load-balancers.html\">Application Load Balancers</a> in the <i>Application Load Balancers Guide</i> and <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/network/network-load-balancers.html\">Network Load Balancers</a> in the <i>Network Load Balancers Guide</i>.</p>",
                "operationId": "CreateLoadBalancer",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "example": {
                                        "LoadBalancers": [
                                            {
                                                "AvailabilityZones": [
                                                    {
                                                        "SubnetId": "subnet-8360a9e7",
                                                        "ZoneName": "us-west-2a"
                                                    },
                                                    {
                                                        "SubnetId": "subnet-b7d581c0",
                                                        "ZoneName": "us-west-2b"
                                                    }
                                                ],
                                                "CanonicalHostedZoneId": "Z2P70J7EXAMPLE",
                                                "CreatedTime": "2016-03-25T21:29:48.850Z",
                                                "DNSName": "internal-my-internal-load-balancer-1529930873.us-west-2.elb.amazonaws.com",
                                                "LoadBalancerArn": "arn:aws:elasticloadbalancing:us-west-2:123456789012:loadbalancer/app/my-internal-load-balancer/5b49b8d4303115c2",
                                                "LoadBalancerName": "my-internal-load-balancer",
                                                "Scheme": "internal",
                                                "SecurityGroups": [
                                                    "sg-5943793c"
                                                ],
                                                "State": {
                                                    "Code": "provisioning"
                                                },
                                                "Type": "application",
                                                "VpcId": "vpc-3ac0fb5f"
                                            }
                                        ]
                                    },
                                    "properties": {
                                        "LoadBalancers": {
                                            "description": "Information about the load balancer.",
                                            "items": {
                                                "description": "Information about a load balancer.",
                                                "properties": {
                                                    "AvailabilityZones": {
                                                        "description": "The Availability Zones for the load balancer.",
                                                        "items": {
                                                            "description": "Information about an Availability Zone.",
                                                            "properties": {
                                                                "LoadBalancerAddresses": {
                                                                    "description": "[Network Load Balancers] The static IP address.",
                                                                    "items": {
                                                                        "description": "Information about a static IP address for a load balancer.",
                                                                        "properties": {
                                                                            "AllocationId": {
                                                                                "description": "[Network Load Balancers] The allocation ID of the Elastic IP address.",
                                                                                "type": "string"
                                                                            },
                                                                            "IpAddress": {
                                                                                "description": "The static IP address.",
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    },
                                                                    "type": "array"
                                                                },
                                                                "SubnetId": {
                                                                    "description": "The ID of the subnet.",
                                                                    "type": "string"
                                                                },
                                                                "ZoneName": {
                                                                    "description": "The name of the Availability Zone.",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "CanonicalHostedZoneId": {
                                                        "description": "The ID of the Amazon Route 53 hosted zone associated with the load balancer.",
                                                        "type": "string"
                                                    },
                                                    "CreatedTime": {
                                                        "description": "The date and time the load balancer was created.",
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "DNSName": {
[...]
